html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

.top {
  height: 25%;
  width: 100%;
  background-color: #FF0063;
}

.middle {
  height: 25%;
  width: 100%;
  background-color: #833AEC;
}

.bottom {
  height: 25%;
  width: 100%;
  background-color: #3A86FF;
}

.slider-container {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 300px;
}